<div class="image_field">
  <p>
  <% fields_for "product[images_attributes][]", image  do |f|%>
      Imagem: <%= f.file_field "uploaded_data", :index => nil %>
      <%= link_to_function "remover", "this.up('.image_field').remove()", :class=>"link_delete"%>
  <% end %>
  </p>
</div>
