<div class="image_field">
  <p>
  <% fields_for "post[images_attributes][]", image  do |f|%>
      Imagem: <%= f.file_field "image", :index => nil %>
      <%= link_to_function "remover", "$(this).parent().remove()", :class=>"link_delete"%>
  <% end %>
  </p>
</div>
