<h3>Contato</h3>

<table border="0" style="font-family:Verdana; font-size:12px;">
  <tr>
    <td><b>Nome:</b></td>
    <td><%= @fields[:name] %></td>
  </tr>
  <tr>
    <td><b>Email:</b></td>
    <td><%= @fields[:email] %></td>
  </tr>
  <tr>
    <td><b>Outros contatos:</b></td>
    <td><%= @fields[:other_contacts] %></td>
  </tr>
  <tr>
    <td><b>Mensagem:</b></td>
    <td><%= @fields[:message] %></td>
  </tr>
</table>