<div class="image_field">
	<p>
		<% fields_for "product[images_attributes]", image, :index => nil  do |f|%>
			Imagem: <%= f.file_field "image" %>
      <%= link_to_function "remover", "$(this).parent().remove()", :class=>"link_delete"%>
		<% end %>
	</p>
</div>